snippet journal "A journal entry" b
#${1:`!v strftime("0%Y-%m-%d-%a")`}
Billing:
--------
${2}


Daily Outcomes:
---------------


Notes:
------


Disposition:
------------
  /9




endsnippet

snippet bgen "General Billing" b
Worked Time "${1}" ${2:`!v strftime("%H%M")`}
endsnippet
